/* src/index.css */
body {
  background-color: #f8f9fa;
  color: #222;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
